body{
    font-family: 'Courier New', Courier, monospace;
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
}
#board{
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");

}
